{% extends "base.html" %}

{% block content %}

<form action="{% url 'deletar-anuncio' anuncio.pk %}" method="POST">
    {% csrf_token %}

    <h1>Deletar Anúncio</h1>
    
    <div class="alert alert-danger" role="alert">
        <p>Tem certeza que deseja deletar o anúncio "<strong>{{ anuncio.titulo }}</strong>"?</p>
    </div>
    
    <button type="submit" class="btn btn-danger">Confirmar Deleção</button>
    <a href="{% url 'listar-anuncios' %}" class="btn btn-secondary">Cancelar</a>
</form>

{% endblock %}