{% extends 'base.html' %} {% block title %}Lista de Anúncios{% endblock %}

{% block content %}
    <div class="mb-3">
        <a href="{% url 'criar-anuncio' %}" class="btn btn-success">
            + Criar Novo Anúncio
        </a>
    </div>

    <h1>Lista de Anúncios</h1>
    
    <ul>
        {% for anuncio in anuncios %}
            <li class="mb-4">
                <strong>{{ anuncio.titulo }}</strong><br>
                Descrição: {{ anuncio.descricao }}<br>
                Valor: R$ {{ anuncio.valor }}<br>
                Data: {{ anuncio.data_criacao }}<br>
                Veículo: {{ anuncio.veiculo }}<br>
                Usuário: {{ anuncio.usuario }}<br>
                <img src="{{ anuncio.veiculo.foto.url }}" alt="Foto do veículo" style="max-width: 250px; border-radius: 8px;">
                <div class="mt-2">
                    <a href="{% url 'editar-anuncio' anuncio.pk %}" class="btn btn-warning btn-sm">
                        Editar
                    </a>
                    <a href="{% url 'deletar-anuncio' anuncio.pk %}" class="btn btn-danger btn-sm">
                        Deletar
                    </a>
                </div>
            </li>
            <hr>
        
        {% empty %}
            <p>Nenhum anúncio cadastrado ainda.</p>
            
        {% endfor %}
    </ul> {% endblock %}